<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        body {
            font-family: Avenir SansSerif Verdana;
        }
    </style>
</head>
<body>
<div class="container">
    <div class=""row>
        <div class="col-12">
            <div class="card" style="top: 10px;">
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        There was an Error!
                    </div>
                    <h5 class="card-title">ToDo Service</h5>
                    <p class="card-text">Everything about ToDos.</p>
                    <a class="btn btn-primary" href="/todos">API</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>